@import "./base.css";

/* Opacity utilities */

@utility anim-fade-in {
  --anim-start-opacity: 0;
}
@utility anim-fade-in-* {
  --anim-start-opacity: calc(--value(number) / 100);
  --anim-start-opacity: --value(--decimal-*, [*]);
}
@utility anim-fade-in-to-* {
  --anim-start-opacity: calc(--value(number) / 100);
  --anim-end-opacity: --value(--decimal-*, [*]);
}

@utility anim-fade-out {
  --anim-end-opacity: 0;
}
@utility anim-fade-out-* {
  --anim-end-opacity: calc(--value(number) / 100);
  --anim-end-opacity: --value(--decimal-*, [*]);
}
@utility anim-fade-out-from-* {
  --anim-start-opacity: calc(--value(number) / 100);
  --anim-start-opacity: --value(--decimal-*, [*]);
}

/* Scale utilities */

@utility anim-zoom-in {
  --anim-start-scale-x: 0;
  --anim-start-scale-y: 0;
}
@utility anim-zoom-in-* {
  --anim-start-scale-x: calc(--value(number) / 100);
  --anim-start-scale-x: --value(--decimal-*, [*]);

  --anim-start-scale-y: calc(--value(number) / 100);
  --anim-start-scale-y: --value(--decimal-*, [*]);
}
@utility anim-zoom-in-to-* {
  --anim-end-scale-x: calc(--value(number) / 100);
  --anim-end-scale-x: --value(--decimal-*, [*]);

  --anim-end-scale-y: calc(--value(number) / 100);
  --anim-end-scale-y: --value(--decimal-*, [*]);
}

@utility anim-zoom-out {
  --anim-end-scale-x: 0;
  --anim-end-scale-y: 0;
}
@utility anim-zoom-out-* {
  --anim-end-scale-x: calc(--value(number) / 100);
  --anim-end-scale-x: --value(--decimal-*, [*]);

  --anim-end-scale-y: calc(--value(number) / 100);
  --anim-end-scale-y: --value(--decimal-*, [*]);
}
@utility anim-zoom-out-from-* {
  --anim-start-scale-x: calc(--value(number) / 100);
  --anim-start-scale-x: --value(--decimal-*, [*]);

  --anim-start-scale-y: calc(--value(number) / 100);
  --anim-start-scale-y: --value(--decimal-*, [*]);
}

/* Rotate utilities */

@utility anim-spin-in {
  --anim-start-rotate: 30deg;
}
@utility -anim-spin-in {
  --anim-start-rotate: -30deg;
}

@utility anim-spin-in-* {
  --anim-start-rotate: calc(--value(number) * 1deg);
  --anim-start-rotate: calc(--value(ratio) * 360deg);
  --anim-start-rotate: --value(--rotate-*, [*]);
}
@utility -anim-spin-in-* {
  --anim-start-rotate: calc(--value(number) * -1deg);
  --anim-start-rotate: calc(--value(ratio) * -360deg);
  --anim-start-rotate: calc(--value(--rotate-*, [*]) * -1);
}

@utility anim-spin-in-to-* {
  --anim-end-rotate: calc(--value(number) * 1deg);
  --anim-end-rotate: calc(--value(ratio) * 360deg);
  --anim-end-rotate: --value(--rotate-*, [*]);
}
@utility -anim-spin-in-to-* {
  --anim-end-rotate: calc(--value(number) * -1deg);
  --anim-end-rotate: calc(--value(ratio) * -360deg);
  --anim-end-rotate: calc(--value(--rotate-*, [*]) * -1);
}

@utility anim-spin-out {
  --anim-end-rotate: 30deg;
}
@utility -anim-spin-out {
  --anim-end-rotate: -30deg;
}

@utility anim-spin-out-* {
  --anim-end-rotate: calc(--value(number) * 1deg);
  --anim-end-rotate: calc(--value(ratio) * 360deg);
  --anim-end-rotate: --value(--rotate-*, [*]);
}
@utility -anim-spin-out-* {
  --anim-end-rotate: calc(--value(number) * -1deg);
  --anim-end-rotate: calc(--value(ratio) * -360deg);
  --anim-end-rotate: calc(--value(--rotate-*, [*]) * -1);
}

@utility anim-spin-out-from-* {
  --anim-start-rotate: calc(--value(number) * 1deg);
  --anim-start-rotate: calc(--value(ratio) * 360deg);
  --anim-start-rotate: --value(--rotate-*, [*]);
}
@utility -anim-spin-out-from-* {
  --anim-start-rotate: calc(--value(number) * -1deg);
  --anim-start-rotate: calc(--value(ratio) * -360deg);
  --anim-start-rotate: calc(--value(--rotate-*, [*]) * -1);
}

/* Translate utilities */


@utility anim-slide-in-from-top {
  --anim-start-translate-y: -100%;
}
@utility anim-slide-in-from-top-* {
  --anim-start-translate-y: calc(--value(number) / 4 * -1rem);
  --anim-start-translate-y: calc(--value(--translate-*, --percentage-*, percentage, [*]) * -1);
}

@utility anim-slide-in-from-bottom {
  --anim-start-translate-y: 100%;
}
@utility anim-slide-in-from-bottom-* {
  --anim-start-translate-y: calc(--value(number) / 4 * 1rem);
  --anim-start-translate-y: --value(--translate-*, --percentage-*, percentage, [*]);
}

@utility anim-slide-in-from-left {
  --anim-start-translate-x: -100%;
}
@utility anim-slide-in-from-left-* {
  --anim-start-translate-x: calc(--value(number) / 4 * -1rem);
  --anim-start-translate-x: calc(--value(--percentage-*, --translate-*, percentage, [*]) * -1);
}

@utility anim-slide-in-from-right {
  --anim-start-translate-x: 100%;
}
@utility anim-slide-in-from-right-* {
  --anim-start-translate-x: calc(--value(number) / 4 * 1rem);
  --anim-start-translate-x: --value(--percentage-*, --translate-*, percentage, [*]);
}

@utility anim-slide-in-from-top-right {
  --anim-start-translate-x: 100%;
  --anim-start-translate-y: -100%;
}
@utility anim-slide-in-from-top-right-* {
  --anim-start-translate-x: calc(--value(number) / 4 * 1rem);
  --anim-start-translate-x: --value(--percentage-*, --translate-*, percentage, [*]);

  --anim-start-translate-y: calc(--value(number) / 4 * -1rem);
  --anim-start-translate-y: calc(--value(--percentage-*, --translate-*, percentage, [*]) * -1);
}

@utility anim-slide-in-from-bottom-right {
  --anim-start-translate-x: 100%;
  --anim-start-translate-y: 100%;
}
@utility anim-slide-in-from-bottom-right-* {
  --anim-start-translate-x: calc(--value(number) / 4 * 1rem);
  --anim-start-translate-x: --value(--percentage-*, --translate-*, percentage, [*]);

  --anim-start-translate-y: calc(--value(number) / 4 * 1rem);
  --anim-start-translate-y: --value(--percentage-*, --translate-*, percentage, [*]);
}

@utility anim-slide-in-from-bottom-left {
  --anim-start-translate-x: -100%;
  --anim-start-translate-y: 100%;
}
@utility anim-slide-in-from-bottom-left-* {
  --anim-start-translate-x: calc(--value(number) / 4 * -1rem);
  --anim-start-translate-x: calc(--value(--percentage-*, --translate-*, percentage, [*]) * -1);

  --anim-start-translate-y: calc(--value(number) / 4 * 1rem);
  --anim-start-translate-y: --value(--percentage-*, --translate-*, percentage, [*]);
}

@utility anim-slide-in-from-top-left {
  --anim-start-translate-x: -100%;
  --anim-start-translate-y: -100%;
}
@utility anim-slide-in-from-top-left-* {
  --anim-start-translate-x: calc(--value(number) / 4 * -1rem);
  --anim-start-translate-x: calc(--value(--percentage-*, --translate-*, percentage, [*]) * -1);

  --anim-start-translate-y: calc(--value(number) / 4 * -1rem);
  --anim-start-translate-y: calc(--value(--percentage-*, --translate-*, percentage, [*]) * -1);
}

@utility anim-slide-out-from-top {
  --anim-end-translate-y: -100%;
}
@utility anim-slide-out-from-top-* {
  --anim-end-translate-y: calc(--value(number) / 4 * -1rem);
  --anim-end-translate-y: calc(--value(--translate-*, --percentage-*, percentage, [*]) * -1);
}

@utility anim-slide-out-from-bottom {
  --anim-end-translate-y: 100%;
}
@utility anim-slide-out-from-bottom-* {
  --anim-end-translate-y: calc(--value(number) / 4 * 1rem);
  --anim-end-translate-y: --value(--translate-*, --percentage-*, percentage, [*]);
}

@utility anim-slide-out-from-left {
  --anim-end-translate-x: -100%;
}
@utility anim-slide-out-from-left-* {
  --anim-end-translate-x: calc(--value(number) / 4 * -1rem);
  --anim-end-translate-x: calc(--value(--percentage-*, --translate-*, percentage, [*]) * -1);
}

@utility anim-slide-out-from-right {
  --anim-end-translate-x: 100%;
}
@utility anim-slide-out-from-right-* {
  --anim-end-translate-x: calc(--value(number) / 4 * 1rem);
  --anim-end-translate-x: --value(--percentage-*, --translate-*, percentage, [*]);
}

@utility anim-slide-out-from-top-right {
  --anim-end-translate-x: 100%;
  --anim-end-translate-y: -100%;
}
@utility anim-slide-out-from-top-right-* {
  --anim-end-translate-x: calc(--value(number) / 4 * 1rem);
  --anim-end-translate-x: --value(--percentage-*, --translate-*, percentage, [*]);

  --anim-end-translate-y: calc(--value(number) / 4 * -1rem);
  --anim-end-translate-y: calc(--value(--percentage-*, --translate-*, percentage, [*]) * -1);
}

@utility anim-slide-out-from-bottom-right {
  --anim-end-translate-x: 100%;
  --anim-end-translate-y: 100%;
}
@utility anim-slide-out-from-bottom-right-* {
  --anim-end-translate-x: calc(--value(number) / 4 * 1rem);
  --anim-end-translate-x: --value(--percentage-*, --translate-*, percentage, [*]);

  --anim-end-translate-y: calc(--value(number) / 4 * 1rem);
  --anim-end-translate-y: --value(--percentage-*, --translate-*, percentage, [*]);
}

@utility anim-slide-out-from-bottom-left {
  --anim-end-translate-x: -100%;
  --anim-end-translate-y: 100%;
}
@utility anim-slide-out-from-bottom-left-* {
  --anim-end-translate-x: calc(--value(number) / 4 * -1rem);
  --anim-end-translate-x: calc(--value(--percentage-*, --translate-*, percentage, [*]) * -1);

  --anim-end-translate-y: calc(--value(number) / 4 * 1rem);
  --anim-end-translate-y: --value(--percentage-*, --translate-*, percentage, [*]);
}

@utility anim-slide-out-from-top-left {
  --anim-end-translate-x: -100%;
  --anim-end-translate-y: -100%;
}
@utility anim-slide-out-from-top-left-* {
  --anim-end-translate-x: calc(--value(number) / 4 * -1rem);
  --anim-end-translate-x: calc(--value(--percentage-*, --translate-*, percentage, [*]) * -1);

  --anim-end-translate-y: calc(--value(number) / 4 * -1rem);
  --anim-end-translate-y: calc(--value(--percentage-*, --translate-*, percentage, [*]) * -1);
}
